<h1>Jogos Cadastrados</h1>
<a href="/cadastrarJogo">Cadastre um novo jogo!</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Preço base</th>
    </tr>
    {{#each jogos}}
    <tr>
        <th>{{this.id}}</th>
        <th>{{this.titulo}}</th>
        <th>{{this.descricao}}</th>
        <th>{{this.precoBase}}</th>
        <td>
        <a href="/jogos/{{this.id}}/update">Atualizar</a>
            <form action="/jogos/{{this.id}}/delete" method="post">
            <input type="submit" value="Excluir"/>
            </form>
        <a href="/jogos/{{this.id}}/conquistas">Ver conquistas</a> 
        </td>
    </tr>
    {{/each}}
</table>